# Ignore virtual environments
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit logs
.streamlit/
